@model IEnumerable<Results>

<p>
    @Html.ActionLink("Back to Classifications", "Classifications")
</p>
<table class="table">
    <thead>
        <tr>
            <th>Classification</th>
            <th>Report Date</th>
            <th>Postal Code</th>
            <th>Termination Date</th>
            <th>Recall Initiation Date</th>
            <th>Recall Number</th>
            <th>Recalling Firm</th>
            <th>State</th>
            <th>Voluntary/Mandated</th>
            <th>Product</th>
            <th>Product Quantity</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.classification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.report_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.postal_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.termination_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recall_initiation_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recall_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recalling_firm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.state)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.voluntary_mandated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product_quantity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.recall_number }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.recall_number })
                </td>
            </tr>
        }
    </tbody>
</table>
